*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties


.emulator/
*.apk
*.ap_
*.dll
*.exe
*.iso
*.img
*.bin
*.qcow2
crashlytics-build.properties
*.jks
*.keystore